node_modules
artifacts
cache
coverage*
gasReporterOutput.json
package.json
img
.env
.secrets
coverage.json
deployments
src/verifiers
build/
types
bin/

abi/
docs/contracts/
docs/selectors.md

# circom
.zkproofs-cache/

signatures.json